---
import BaseLayout from '../Layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.svelte';
import Hero from '../components/Hero.svelte';
import About from '../components/About.svelte';
import Skills from '../components/Skills.svelte';
import Experience from '../components/Experience.svelte';
import Projects from '../components/Projects.svelte';
import Certifications from '../components/Certifications.svelte';
import Contact from '../components/Contact.svelte';
import FooterSection from '../components/FooterSection.svelte';
---
<BaseLayout pageTitle="Nikita Mittal | Portfolio">
  <Navbar client:load />
  <Hero client:load />
  <div class="divider"></div>
  <About client:visible />
  <div class="divider"></div>
  <Skills client:visible />
  <div class="divider"></div>
  <Experience client:visible />
  <div class="divider"></div>
  <Projects client:visible />
  <div class="divider"></div>
  <Certifications client:visible />
  <div class="divider"></div>
  <Contact client:visible />
  <FooterSection client:visible />
</BaseLayout>